useDynLib(idmsurv)
importFrom("KernSmooth", dpik)
importFrom("np", npudensbw)
importFrom("survival", survfit, Surv)
importFrom("graphics", plot, legend, lines)
importFrom("stats", binomial, fitted, glm, na.omit, quantile, terms)
export(KM)
export(KMW, PKMW)
export(Beran, NWW)
export(survIDM)
export(tprob)
export(plot.survIDM)
export(summary.survIDM)
export(print.survIDM)
S3method(plot, survIDM)
S3method(print, survIDM)
S3method(summary, survIDM)
