useDynLib(survidm, .registration = TRUE)
importFrom("foreach", "%dopar%", "%do%")
importFrom("foreach", foreach)
importFrom("doRNG", "%dorng%")
importFrom("parallel", detectCores)
importFrom("doParallel", registerDoParallel, stopImplicitCluster)
importFrom("KernSmooth", dpik)
importFrom("np", npudensbw)
importFrom("survival", survfit, Surv)
importFrom("graphics", plot, legend, lines,matlines, matplot)
importFrom("stats", binomial, fitted, glm, na.omit, quantile, terms, qnorm, sd, as.formula)
importFrom("TPmsm", survTP, transPAJ)
export(KM, PKM)
export(KMW, PKMW)
export(Beran, NWW, LLW)
export(survIDM)
export(tprob)
export(CIF)
export(sojourn)
export(plot.survIDM)
export(summary.survIDM)
export(print.survIDM)
export(coxidm)
export(summary.cmm)
S3method(plot, survIDM)
S3method(print, survIDM)
S3method(summary, survIDM)
S3method(summary, cmm)
