useDynLib(survidm, .registration = TRUE)
S3method(plot, survIDM)
S3method(print, survIDM)
S3method(summary, survIDM)
S3method(summary, cmm)
S3method(autoplot, survIDM)
export(nevents)
export(markov.test)
export(KM, PKM)
export(KMW, PKMW)
export(Beran, NWW, LLW)
export(survIDM)
export(tprob)
export(CIF)
export(sojourn)
export(plot.survIDM)
export(summary.survIDM)
export(print.survIDM)
export(coxidm)
export(summary.cmm)
export(autoplot)
importFrom("foreach", "%dopar%", "%do%")
importFrom("foreach", foreach)
importFrom("doRNG", "%dorng%")
importFrom("parallel", detectCores)
importFrom("doParallel", registerDoParallel, stopImplicitCluster)
importFrom("KernSmooth", dpik)
importFrom("np", npudensbw)
importFrom("survival", survfit, Surv,coxph,pspline)
importFrom("graphics", plot, legend, lines,matlines, matplot)
importFrom("stats", binomial, fitted, glm, na.omit, quantile, terms, qnorm, sd, as.formula)
importFrom("TPmsm", survTP, transPAJ)
importFrom("utils", "head")
importFrom("graphics", "abline", "layout", "par")
importFrom("ggplot2", autoplot)
importFrom("ggplot2", ggplot, aes, theme_bw, labs,  geom_point)
importFrom("ggplot2", geom_abline, geom_ribbon, geom_line, theme, element_blank)
importFrom("stats", "termplot")
importFrom("gridExtra", grid.arrange)
importFrom("plotly", ggplotly)
import("Rcpp")


